@import url("https://fonts.googleapis.com/css2?family=Mali:wght@400;500;600;700&family=Roboto+Slab:wght@400;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #e6fcf5;
  background-image: url("assets/butterfly.jpeg");
  background-attachment: fixed;
  background-size: cover;
}
.navbar {
  background: linear-gradient(
    180deg,
    #daf0c3 0%,
    rgba(130, 204, 133, 0.97) 98.44%
  );
  height: 5rem;
  margin-bottom: 3rem;
}
.hero {
  box-shadow: 0 0 15px rgba(195, 217, 196, 0.868415);
  margin-top: 3rem;
  display: flex;
  border-radius: 15px;
  margin-left: 5rem;
  margin-right: 13rem;
}
.hero-txt {
  background: linear-gradient(
    180deg,
    #058145 17.13%,
    rgba(117, 239, 129, 0.9) 97.76%
  );
  border-radius: 15px;
}
.hero-grad {
  border-radius: 15px;
  font-family: "Roboto Slab", serif;
  background: linear-gradient(
    106.79deg,
    rgba(156, 188, 157, 0.09) -93.96%,
    rgba(155, 226, 158, 0.51) -93.94%,
    rgba(195, 217, 196, 0.868415) -93.92%,
    #b9dfbb 4.36%,
    #ddffdf 98.37%
  );

  color: #087f5b;
  font-weight: 700;
  padding: 2rem;
  margin-top: 5rem;
  font-size: 2rem;

  width: 50rem;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}
.hero-grad:hover {
  transform: translateY(-1rem);
}
.hero-img {
  border-radius: 15px;
  margin-left: 0.5rem;
  box-shadow: 0 0 20px #087f5b;
  transition: 0.3s;
}
.hero-img:hover {
  transform: translateY(-1rem);
}
.welcome {
  display: flex;
  gap: 10rem;
  margin-top: 5rem;
  margin-left: 7rem;
  margin-bottom: 3rem;
}
.card-img-top {
  border-radius: 15px 15px 0 0;
  height: 20rem;
  width: 19.9rem;
}
.card:hover,
.card:active {
  transform: translateY(-1rem);
  box-shadow: 0 0 5px #2b8a3e;
}
.card {
  border-radius: 15px;
  transition: 0.3s;
  background-color: #69db7c;
  box-shadow: 0 0 20px #2b8a3e;
}
.btn {
  font-size: 1.1rem;
  color: honeydew;
}
.btn-primary {
  background-color: #087f5b;
  border-color: honeydew;
}
.nav-logo {
  width: 8rem;
  height: 8rem;
  margin-top: 1rem;
}
.nav-logo1 {
  width: 15rem;
}
@media only screen and (max-width: 576px) {
  .nav-logo {
    margin-top: 0;
  }
  .nav-logo1 {
    transform: translateY(-2rem);
  }
  .hero-img {
    max-width: 20rem;
    max-height: 20rem;
  }
  .hero {
    flex-direction: column;
    margin-left: 1rem;
  }
  .hero-txt {
    width: 22rem;
    margin-top: 1rem;
  }
  .hero-grad {
    font-size: 1.5rem;
    margin-left: 1rem;
    max-width: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .welcome {
    flex-direction: column;
    width: auto;
    margin-left: 1rem;
  }
  .card {
    width: 20rem;
    margin-left: 1rem;
  }
  .hero {
    box-shadow: none;
  }
}

@media only screen and (max-width: 400px) {
  .nav-logo1 {
    width: 7rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .navbar {
    width: 740px;
  }
  .nav-logo {
    margin-top: 0;
  }
  .nav-logo1 {
    transform: translateY(-2rem);
  }
  .hero-img {
    max-width: 30rem;
    max-height: 30rem;
  }
  .hero {
    flex-direction: column;
    margin-left: 1rem;
  }
  .hero-txt {
    width: 40rem;
    margin-top: 3rem;
  }
  .hero-grad {
    font-size: 1.5rem;
    margin-left: 5rem;
    width: 30rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .welcome {
    flex-direction: column;
    width: auto;
    margin-left: 1rem;
  }
  .card {
    width: 20rem;
    margin-left: 1rem;
  }
  .hero {
    box-shadow: none;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .navbar {
    width: 780px;
  }
  .nav-logo {
    margin-top: 0;
  }
  .nav-logo1 {
    transform: translateY(-2rem);
  }
  .hero-img {
    max-width: 30rem;
    max-height: 30rem;
  }
  .hero {
    flex-direction: column;
    margin-left: 1rem;
  }
  .hero-txt {
    width: 40rem;
    margin-top: 3rem;
  }
  .hero-grad {
    font-size: 1.5rem;
    margin-left: 5rem;
    width: 30rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .welcome {
    flex-direction: column;
    width: auto;
    margin-left: 1rem;
  }
  .card {
    width: 20rem;
    margin-left: 1rem;
  }
  .hero {
    box-shadow: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar {
    padding: 1rem;
    width: 1200px;
  }
  .nav-logo {
    margin-top: 1rem;
  }
  .nav-logo1 {
    transform: translateY(-1rem);
    margin-top: 1rem;
  }
  .hero-img {
    max-width: 30rem;
    max-height: 30rem;
  }
  .hero {
    flex-direction: column;
    margin-left: 1rem;
  }
  .hero-txt {
    width: 40rem;
    margin-top: 3rem;
  }
  .hero-grad {
    font-size: 1.5rem;
    margin-left: 5rem;
    width: 30rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .welcome {
    flex-direction: column;
    width: auto;
    margin-left: 1rem;
  }
  .card {
    width: 20rem;
    margin-left: 1rem;
  }
  .hero {
    box-shadow: none;
  }
}
